/* styles.css */
.hero {
    background-image: url('https://via.placeholder.com/1200x500');
    background-size: cover;
    background-position: center;
    color: white;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
img{
    width: 100px;
    height: 400px;
}