// header{
//     h1{
//         font-size: 14px;
//     }
//     ul{
//         list-style: none;

//         a{
//             color: orange;
//             background-color: red;
//         }
//     }
// }

:root{
    --ngjyra-Katrori:black;
    --ngjyra-hederit:red;
    --ngjyra-p:green;
    --ngjyra-b:orange;
}
body{
    background-color: var(--ngjyra-b);
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid var(--ngjyra-Katrori);
}
h1{
    color: var(--ngjyra-hederit);
}
p{
    color: var(--ngjyra-p);
}